@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: white;
  margin: 0;
  padding: 0;
}

.product-list-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list-title {
  font-size: 2rem;
  color: #f42e09;
  margin-bottom: 20px;
  font-weight: 800;
}

.product-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  background-color: #2b2b2b;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.product-item img {
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-item h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.product-item p {
  font-size: 1rem;
  margin: 5px 0;
}

.product-item:hover {
  transform: translateY(-10px);
}

.add-product-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f42e09;
  color: white;
}

.add-product-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.add-product-link:hover {
  text-decoration: underline;
}

.add-product-item {
    background-color: #f42e09; /* Mantém a cor de fundo para os outros itens */
    color: white;
  }
  
  .add-product-item.last {
    background-color: #fff; /* Altera o fundo para branco no último item */
    color: #000; /* Define a cor do texto como preta */
    border-radius: 8px; /* Adiciona borda arredondada ao último item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para o último item */
  }
  
  .add-product-link {
    text-decoration: none;
    color: inherit; /* Herda a cor do texto */
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .add-product-link:hover {
    text-decoration: underline;
  }
  