@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    font-weight: 700;
    background-image: url('https://www.estadao.com.br/resizer/v2/SGSA2RXZQRASROXQVI2STOP4UU.jpg?quality=80&auth=dbf67e9a85a08e95d0a0df51c22bc71c6cbf5bbd6f6b939183d2b1cfec0ca598&width=1200&height=1200&smart=true');
    background-size: auto 1100px;
    background-repeat: no-repeat;
    background-position: 700px -100px;
   
}
.login-background {
    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
}

.login-container {
    background-color: #000;
    padding: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centraliza o contêiner filho verticalmente */
    align-items: center; /* Centraliza o contêiner filho horizontalmente */
    margin: 0; /* Remove qualquer margem */
    position: absolute; /* Faz o contêiner ficar colado ao lado esquerdo */
    left: 0; /* Alinha o contêiner ao lado esquerdo da tela */
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo dentro do contêiner filho */
    width: 100%; /* Garante que o contêiner filho ocupe a largura completa do contêiner pai */
}

h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 40px;
    color:#f42e09;
}

.form-group {
    margin-bottom: 1rem;
    width: 160%; /* Garante que os campos de entrada ocupem a largura completa do contêiner */
    margin-left: -60px;
    z-index:4;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    background-color: #1b1b1b;
    border: none;
    border-radius: 5px;
    color: #fff;
}

button {
    width: 160%;
    padding: 1rem;
    background-color: #f42e09;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-left: -60px;
}

button:hover {
    background-color: #714f2a;
}

.error-message {
    color: red;
    margin-bottom: 1rem;
    text-align: center; /* Centraliza o texto */
}

.login-container a {
    color: #f42e09;
    text-decoration: none;
    display: block;
    margin: 1rem 0;
    text-align: center; /* Centraliza o texto */
}

.login-container a:hover {
    text-decoration: underline;
}

